<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% include 'head.html' %}
</head>
<body>
{% include 'menu.html' %}
<h1>Lista zadań</h1>
<a href="/add_todo">Dodaj zadanie</a>
<table border="1">
    <tr>
        <th>Numer</th>
        <th>Nazwa</th>
        <th>Akcje</th>
    </tr>
    {% for t in todos %}
        <tr>
            <td>{{ t.todo_id }}</td>
            <td>
                {% if t.todo_priority==1 %}
                    <font color="green">
                {% elif t.todo_priority==2 %}
                    <font color="orange">
                {% elif t.todo_priority==3 %}
                    <font color="red">
                {% endif %}
                <b>
                    {{ t.todo_name }}
                </b>
                </font>
            </td>
            <td><a HREF="todo_details?id={{ t.todo_id }}">Szczegóły zadania</a></td>
        </tr>
    {% endfor %}
</table>
</body>
</html>